#myBtn {
    @include btn($secondaryColor, white, capitalize, $primaryColor );

    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 1.1rem; 
  }
  